form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.vista {
  height: 100vh;
}

.form-registrer {
  width: 500px;
  background: #313940;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  box-shadow: 7px 13px 32px #000;
}

@media (max-width: 772px) {
  .form-registrer {
    width: 400px;
  }
}
@media (max-width: 508px) {
  .form-registrer {
    width: 280px;
  }
}
